@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*color: #555bff; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
    
}
body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30%;
    background-color: #555bff;
}
.startBtn{
    background-color: white;
    border: none;
    outline: none;
    color: #555bff;
    width: 120px;
    height: 120px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
    transform: scale(1);
    transition: .4s;
}
.startBtn:hover{
    background-color: white;
    opacity: 0.9;
    transform: scale(0.905);
}
.container{
    display: flex;
    width: 70%;
}
.app{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    overflow: hidden;
    margin: auto;
    width: 550px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 5px;
}
header{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    color: #333;
    background-color: #e1e1e1;
    width: 100%;
    height: 80px;
}
header h1{
    font-size: 24px;
    font-weight: 600;
}
header p{
    font-size: 14px;
    font-weight: 400;
}
header #secondTime{
    background-color: white;
    color: #333;
    border-radius: 5px;
    padding: 5px;
}
.time{
    display: flex;
    align-items: center;
    background-color: #555bff;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 5px;
}
.time #remainingTime {
    color: white;
    font-weight: 400;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main h3{
    font-size: 14px;
    font-weight: 500;
}
.sonucHigh{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid limegreen;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: #555bff;
    width: fit-content;
    gap: 20px;
    padding: 30px;
    box-shadow: rgba(50, 205, 50, 0.477) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sonucLow{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #db0909;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: #555bff;
    width: fit-content;
    gap: 20px;
    padding: 30px;
    box-shadow: rgba(219, 9, 9, 0.362) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skorText{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #555bff;
}
.cevapDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}
.cevapDiv button{
    width: 100%;
    height: fit-content;
    color: #333;
    background:none;
    outline: none;
    border: 1px solid #d0cece;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    transition: .4s;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 14px;
}
.kalanSoru{
    background-color: #555bff;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}
.nextBtn{
    background-color: #555bff;
    border: none;
    outline: none;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.correct{
    box-shadow: rgba(26, 175, 34, 0.459) 0px 30px 60px -12px inset, rgba(34, 189, 55, 0.452) 0px 18px 36px -18px inset;
}

.incorrect{
    box-shadow: rgba(170, 13, 13, 0.651) 0px 30px 60px -12px inset, rgba(214, 16, 16, 0.486) 0px 18px 36px -18px inset;
}
.cevapDiv .option.disabled{
    pointer-events: none;
    opacity: 1;
}
.time-line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #555bff;
}